
body{
	font-family: "Trebuchet MS";
	background-color: #b3cae3;
}

#pageTitle{
	position: relative;
	left: 75px;
	font-family: "Arial Black";
}

#example{
	position: relative;
	left: 25px;
	top: 100px;
}

.form{
	position: relative;
	left: 75px;
	top: 50px;
}

.label {
   width: 200px;
   height: 33px;
   font-size: 0.9vw;
}

select{
   width: 200px;
   height: 30px;
   overflow: hidden;
   background: url(new_arrow.png) no-repeat right #ddd;
   border: 1px solid #ccc;
   font-size: 15px;
}

option{
	width: 200px;
   height: 30px;
   overflow: hidden;
   border: 1px solid #ccc;
   font-size: 15px;
}

p {
    color: black;
    font-weight: bold;
}

.priceBands{
	height: 50px;
}

table {
	font-size: 110%;
}

th {
    background-color: #004080;
    color: white;
}

td {
	background-color: #808080;
    color: white;
    text-align: center;
}

input {
	height: 27px;
	font-weight:bold;
	width: 200px;
	font-size: 15px;
}

input[value="Reset"] { 
	font-size: 15px;
	width: 200px;
	color: #004080; 
}

input[value="Calculate"] { 
	font-size: 15px;
	width: 200px;
	color: #004080; 
}

input[value="Submit your vehicle"] { 
	font-size: 15px;
	width: 200px;
	color: #004080; 
}

#priceBandsTable\:j_id_x\:mileageFromUserInput{ 
    font-size: 15px;
	width: 200px;
	color: #004080; 
}

#vehicledropdown\:j_id_9\:vehicleDropDownList{
	font-size: 15px;
	width: 200px;
	color: #004080; 
}


​