<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:oauth="http://www.springframework.org/schema/security/oauth2"

	xsi:schemaLocation="http://www.springframework.org/schema/beans
		http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		http://www.springframework.org/schema/security
		http://www.springframework.org/schema/security/spring-security.xsd
		http://www.springframework.org/schema/security/oauth2
		http://www.springframework.org/schema/security/spring-security-oauth2.xsd">
		
<!-- ADDED from tutorial -->		
  <http auto-config='true'> <!-- autoconfig includes the default login form and logout -->
<!--     <intercept-url pattern="/**" access="ROLE_USER" /> -->
<!-- <csrf disabled="true" /> -->
  </http>


<authentication-manager>
	<authentication-provider>
	<!-- instead of providing the source of users, we will hardcode a couple of them for testing purposes -->
	<user-service>
		<user name="user" password="pass" authorities="ROLE_USER" />
	</user-service>
	</authentication-provider>
</authentication-manager>
		
</beans:beans>